
@{
    ViewBag.Title = "NguPhap";
    Layout = "~/Views/shared/_Layoutgeneral.cshtml";
}


<div class="container row">
    <div class="col-4">
        <ul class="nav flex-column " id="subject">
            <h3 class="nav-link btn-success">Subject</h3>
            <li class="nav-item btn-outline-warning">
                <a class="nav-link " href="#item-1">12 tenses</a>
            </li>
            <li class="nav-item btn-outline-warning">
                <a class="nav-link  " href="#item-2">Modal verb</a>
            </li>
            <li class="nav-item btn-outline-warning">
                <a class="nav-link  " href="#item-3">Pronouns and nouns</a>
            </li>
            <li class="nav-item btn-outline-warning">
                <a class="nav-link " href="#item-4">Adjective and adverbs</a>
            </li>
            <li class="nav-item btn-outline-warning">
                <a class="nav-link  " href="#item-5">Intransitive verbs and transitive verbs</a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <div data-spy="scroll" data-target="#subject" data-offset="0">

            <!---------12 thì --------------->
            <div id="item-1">
                <h2>12 tenses</h2>
                <img src="/images/Gramar/12_tense.png" width="100%" height="auto">
                <p class="FomatWord">	Có thể nói thì hiện tại đơn là một trong những ngữ pháp căn bản nhất trong tiếng anh. Nó được sử dụng rất phổ biến trong văn phạm tiếng anh. Chính vì sự cần thiết cũng như tầm quan trọng của thì hiện tại đơn nên EFC đã tổng hợp các kiến thức cần thiết nhất giúp các bạn có thể hiểu rõ cấu trúc ngữ pháp này. Hy vọng bài viết này có thể giúp ích cho các bạn.</p>
                <div class="SizeVideo">
                    <iframe width="100%" width="350px" src="https://www.youtube.com/embed/QpPuicx4Dac" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <p class="TenTieuDe">1. Định nghĩa thì hiện tại đơn</p>
                <p>Thì hiện tại đơn (tiếng Anh: Simple present hoặc Present simple) là một thì trong tiếng Anh hiện đại. Thì này diễn tả một hành động chung chung, tổng quát lặp đi lặp lại nhiều lần hoặc một sự thật hiển nhiên hoặc một hành động diễn ra trong thời gian hiện tại.</p>
                <p class="TenTieuDe">2. Cách sử dụng thì hiện tại đơn</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Cách dùng thì hiện tại đơn</th>
                            <th style="text-align: center;">Ví dụ về thì hiện tại đơn</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Diễn đạt một thói quen hoặc hành động lặp đi lặp lại trong hiện tại</td>
                            <td>
                                I usually go to bed at 11 p.m. (Tôi thường đi ngủ vào lúc 11 giờ)
                                We go to work every day.  (Tôi đi làm mỗi ngày)

                                My mother always gets up early. (Mẹ tôi luôn luôn thức dậy sớm.)
                            </td>

                        </tr>
                        <tr>
                            <td>Chân lý, sự thật hiển nhiên</td>
                            <td>
                                The sun rises in the East and sets in the West. (Mặt trời mọc ở phía đông và lặn ở phía Tây)
                                The earth moves around the Sun. (Trái đất quay quanh mặt trời)
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Sự việc xảy ra trong tương lai. Cách này thường áp dụng để nói về thời gian biểu, chương trình hoặc kế hoạch đã được cố định theo thời gian biểu.
                            </td>
                            <td>
                                The plane takes off at 3 p.m. this afternoon. (Chiếc máy bay hạ cánh lúc 3 giờ chiều nay)
                                The train leaves at 8 am tomorrow. (Tàu khởi hành lúc 8 giờ sáng mai.)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Sử dụng trong câu điều kiện loại 1:
                            </td>
                            <td>
                                What will you do if you fail your exam? (Bạn sẽ làm gì nếu bạn trượt kỳ thi này?)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Sử dụng trong một số cấu trúc khác
                            </td>
                            <td>
                                We will wait, until she comes. (Chúng tôi sẽ đợi cho đến khi cô ấy tới)
                            </td>
                        </tr>

                    </tbody>
                </table>
                <p class="TenTieuDe">3.Công thức thì hiện tại đơn</p>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Thể</th>
                            <th style="text-align: center;">Công thức</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Phủ định
                            </td>
                            <td>
                                dfgfsgfdsgfdgdsf
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Khẳng định
                            </td>
                            <td>
                                gfdsgfdgdfsgdfsg
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nghi vấn
                            </td>
                            <td>
                                gdsgdfsgfdsgfdsgfdsgfdsgf
                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>
            <!------xx---12 thì --------xx------->
            <!-------------------Modal verb-------------->
            <div id="item-2" class="nguphap">
                <h2>Modal verd</h2>
                <p class="TenTieuDe">1.Định nghĩa</p>
                <img src="/images/Gramar/modal_verb.png" width="100%" height="auto">
                <p class="FomatWord">	Có thể nói thì hiện tại đơn là một trong những ngữ pháp căn bản nhất trong tiếng anh. Nó được sử dụng rất phổ biến trong văn phạm tiếng anh. Chính vì sự cần thiết cũng như tầm quan trọng của thì hiện tại đơn nên EFC đã tổng hợp các kiến thức cần thiết nhất giúp các bạn có thể hiểu rõ cấu trúc ngữ pháp này. Hy vọng bài viết này có thể giúp ích cho các bạn.</p>
                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/cw9-a-gIY6I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <p>Thì hiện tại đơn (tiếng Anh: Simple present hoặc Present simple) là một thì trong tiếng Anh hiện đại. Thì này diễn tả một hành động chung chung, tổng quát lặp đi lặp lại nhiều lần hoặc một sự thật hiển nhiên hoặc một hành động diễn ra trong thời gian hiện tại.</p>
                <p class="TenTieuDe">2. Các loại modal verb</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Modal verb</th>
                            <th style="text-align: center;">Chức năng</th>
                            <th style="text-align: center;">Ví dụ </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Can</td>
                            <td>
                                I usually go to bed at 11 p.m. (Tôi thường đi ngủ vào lúc 11 giờ)
                                We go to work every day.  (Tôi đi làm mỗi ngày)

                                My mother always gets up early. (Mẹ tôi luôn luôn thức dậy sớm.)
                            </td>
                            <td>
                                Could you please wait a moment?Can I ask you a question?-Có thể dùng “be able to” thay cho “can hoặc could”
                            </td>

                        </tr>
                        <tr>
                            <td>Could</td>
                            <td>
                                The sun rises in the East and sets in the West. (Mặt trời mọc ở phía đông và lặn ở phía Tây)
                                The earth moves around the Sun. (Trái đất quay quanh mặt trời)
                            </td>
                            <td>
                                Could you please wait a moment?Can I ask you a question?-Có thể dùng “be able to” thay cho “can hoặc could”
                            </td>


                        </tr>
                        <tr>
                            <td>
                                Must
                            </td>
                            <td>
                                The plane takes off at 3 p.m. this afternoon. (Chiếc máy bay hạ cánh lúc 3 giờ chiều nay)
                                The train leaves at 8 am tomorrow. (Tàu khởi hành lúc 8 giờ sáng mai.)
                            </td>
                            <td>
                                Could you please wait a moment?Can I ask you a question?-Có thể dùng “be able to” thay cho “can hoặc could”
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Have to
                            </td>
                            <td>
                                What will you do if you fail your exam? (Bạn sẽ làm gì nếu bạn trượt kỳ thi này?)
                            </td>
                            <td>
                                Could you please wait a moment?Can I ask you a question?-Có thể dùng “be able to” thay cho “can hoặc could”
                            </td>
                        </tr>

                        <tr>
                            <td>
                                May
                            </td>
                            <td>
                                We will wait, until she comes. (Chúng tôi sẽ đợi cho đến khi cô ấy tới)
                            </td>
                            <td>
                                Could you please wait a moment?Can I ask you a question?-Có thể dùng “be able to” thay cho “can hoặc could”
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-----------x--------Modal verb-------x------->
            <!-------------------Pronouns and nouns-------------->

            <div id="item-3">
                <h2>Pronouns </h2>

                <img src="/images/Gramar/pronouns.png" width="100%" height="auto">
                <p class="FomatWord">	Đại từ (Pronoun) là một phần rất quan trọng cần ghi nhớ trong ngữ pháp tiếng Anh. Trong bài viết này, chúng ta sẽ cùng tìm hiểu về pronoun, các loại pronoun và một số bài tập về pronoun nhé.</p>
                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/R5NC9yyTeZ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p class="TenTieuDe">1.Định nghĩa</p>

                <p>Đại từ (Pronoun) là các từ, cụm từ có chức năng thay thế cho các danh từ trong câu. Đại từ có thể đóng vai trò là chủ ngữ, trạng từ, … Hầu hết đại từ là những từ ngắn, ví dụ: It, we, she, he, they, who,…</p>

                <p>Đại từ dùng để thay thế cho danh từ, tuy nhiên nó vẫn có thể đứng một mình như một tính từ, trạng từ, hoặc một đại từ khác. Mỗi khi bạn muốn nói về một ai đó hay một cái gì đó, bạn hoàn toàn có thể sử dụng đại từ để câu văn trôi chảy hơn.</p>
                <p class="TenTieuDe">2.Các loại pronouns</p>
                <p>Đại từ bất định (Indefinite pronouns): đề cập tới một hoặc nhiều đối tượng không xác định. Ví dụ:something, somewhere, someone, anything, anywhere, anyone, anybody,everything, everywhere, everyone, nowhere, no one, nobody, all, one, none, other, another, much, less, (a) few, (a) little, enough, each,…</p>
                <p>Đại từ nhân xưng (Personal pronouns): là những đại từ chỉ người, nhóm người hoặc vật. Khi sử dụng, bạn phải phân biệt đại từ đó thành số ít hoặc số nhiều. Ví dụ: we, they, she, he, it,…</p>
                <p>Đại từ phản thân (Reflexive pronouns): dùng để diễn đạt chủ ngữ đồng thời là tác nhân gây ra hành động, hoặc tân ngữ đồng thời là tác nhân nhận tác động của hành động đó. Đại từ phản thân thường kết thúc bởi –self hoặc –selves.</p>
                <p>Đại từ chỉ định (demonstrative pronouns): những từ dùng để chỉ một cái gì đó trong câu, bao gồm: this, that, these, those…</p>
                <p>Đại từ sở hữu (Possessive pronouns): những người được chỉ định sở hữu hoặc có quyền sở hữu. Ví dụ: yours, mine, ours, hers, his,…</p>
                <p>Đại từ quan hệ (relative pronouns): dùng để kết nối 2 câu/mệnh đề lại với nhau. Ví dụ: who, which, that, those, whom,…</p>
                <p>Đại từ nghi vấn (interrogative pronouns): bao gồm các từ để hỏi, ví dụ: what, why, which, who, …</p>
                <p>Đại từ đối ứng (Reciprocal pronouns): đối tượng này đang hành động đối ứng với đối tượng kia, có 2 đại từ đối ứng: each other và one another</p>
                <p>Đại từ nhấn mạnh (Intensive pronouns): những từ kết thúc bằng –self hay –selves dùng để nhấn mạnh.</p>

                <p class="TenTieuDe">3.Ví dụ</p>
                <p>
                    This house is old. It needs to be repainted.<br />
                    Jimmy broken legs because Bill hit him.<br />
                    I lost my key and I couldn’t find it.<br />
                    The cat broke its leg.
                </p>

            </div>
            <!----------x--------Pronouns and nouns--------x----->
            <!-------------------ADV and ADJ-------------->

            <div id="item-4">
                <h2>Adjective and adverbs </h2>

                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/w5xxZdFZv7U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!----------x--------ADV and ADJ--------x----->
            <!-------------------Intransitive verbs and transitive verbs-------------->

            <div id="item-5">
                <h2>Intransitive verbs and transitive verbs</h2>

                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/SpL2o3jjfoA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


            </div>
            <!----------x--------Intransitive verbs and transitive verbs--------x----->

        </div>
    </div>
</div>



