<div class="card card-product mb-3">
    <img class="card-img-top" src="http://via.placeholder.com/280x280" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Đề Listening 1</h5>
        <p class="card-text">Bạn hãy nghe đoạn hội thoại giữa Maria và Dave về đời ...</p>
        <a href="#" class="btn btn-primary">Bắt đầu</a>
    </div>
</div>
