
@{
    ViewBag.Title = "LuyenNghe";
    Layout = "~/Views/shared/_LayoutTuVung.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="card card-product alert-success">
                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/_IKM1-XCwX4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h2 class="card-title text-center">Unnit 1</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card card-product alert-success">
                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/xF2Q2WBHOYc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h2 class="card-title text-center">Unnit 2</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card card-product alert-success">
                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/Ci7T1i-B8XY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                <div class="card-body">
                    <h2 class="card-title text-center">Unnit 3</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card card-product alert-success">
                <div class="SizeVideo">
                    <iframe src="https://www.youtube.com/embed/xF2Q2WBHOYc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h2 class="card-title text-center">Unnit 4</h5>
                </div>
            </div>
        </div>
    </div>
