
@{
    ViewBag.Title = "TuVung";
    Layout = "~/Views/shared/_LayoutTuVung.cshtml";
}

<!-- slide -->
<div id="carouselExampleIndicators" class="carousel slide mt-1" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/images/TrangChu1.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/images/TrangChu2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/images/TrangChu3.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- end slide -->
<div class="container row">
    <div class="col-4">
        <ul class="nav flex-column" id="subject">
            <li class="nav-item btn-outline-primary">
                <a class="nav-link " href="#item-1">Family</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link " href="#item-2">Sport</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link  " href="#item-3">Animals</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link  " href="#item-4">Jobs</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link " href="#item-5">Relationships</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link " href="#item-6">Foods & Drinks</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link " href="#item-7">Color</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link " href="#item-8">Arts</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link  " href="#item-9">Appearance</a>
            </li>
            <li class="nav-item btn-outline-primary">
                <a class="nav-link  " href="#item-10">Language</a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <div data-spy="scroll" data-target="#subject" data-offset="0">
            <div id="item-1" class="TenTieuDe">

                <b>Family</b>

            </div>
            <table class="tb-mk1">
                <tbody>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/father.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Father (Noun) : Bố</b>
                            <p><i>/ˈfɑðər/</i> </p>

                            <p>Ví dụ: My father is a kind and generous man. (Bố tôi là một người tốt bụng và hào phóng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Aunt.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b> Aunt (noun): Người dì</b>
                            <p><i>/Ænt/</i> </p>

                            <p>Ví dụ: My aunt will visit me in the New year. (Dì tôi sẽ tới thăm tôi vào dịp đầu Năm mới)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Birth.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Birth (noun): Sự sinh ra, sự chào đời</b>
                            <p><i>/bɜrθ/</i> </p>

                            <p>Ví dụ: The birth of her son makes Taylor extremely happy. (Sự chào đời của con trai cô ấy khiên Taylor vô cùng hạnh phúc)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Brother.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Brother (noun): Anh/em trai</b>
                            <p><i>/ˈbrʌðər/</i> </p>

                            <p>Ví dụ: I have two brothers, one is 10 and the other is 17. (Tôi có 2 anh em trai, một người 10 tuổi và người còn lại 17)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Close.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Close (adjective): Gần gũi, gắn bó</b>
                            <p><i>/kloʊs/</i> </p>

                            <p>Ví dụ: Every members in Clara’s family is close to eachother. (Mọi thành viên trong gia đình Clara đều rất gần gũi với nhau)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Cousin.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Cousin (noun): Anh chị em họ</b>
                            <p><i>/ˈkʌzən/</i> </p>

                            <p>Ví dụ: I have a beautiful 5-year-old cousin named Linh. (Tôi có một người em họ 5 tuổi xinh xắn tên là Linh)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Daughter.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Daughter (noun): Con gái</b>
                            <p><i>/ˈdɔtər/</i> </p>

                            <p>Ví dụ: Tammy has just bought her daughter a pink princess dress. (Tammy vừa mua cho con gái cô ấy một chiếc váy công chúa màu hồng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Divorce.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Divorce (verb) – (noun): Li hôn, li dị</b>
                            <p><i>/dɪˈvɔrs/</i> </p>

                            <p>Ví dụ: The divorce of Amy’s parents upsets her for months. (Cuộc li hôn của cha mẹ khiến Amy buồn hàng tháng trời)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Ex-wife.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Ex-wife (noun): Vợ cũ</b>
                            <p><i>/ɛks-waɪf/</i> </p>

                            <p>Ví dụ: After the divorce, Jake still remains friend with his ex-wife. (Sau li hôn, Jake vẫn làm bạn với vợ cũ)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Grandparents.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Grandparents (noun): Ông bà</b>
                            <p><i>/ˈgrændˌpɛrənts/</i> </p>

                            <p>Ví dụ: Every summer, Tim gets to visit his grandparents house and stays there for a month. (Mỗi mùa hè, Tim đều được đến thăm nhà ông bà và ở lại chơi trong một tháng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tbody>
            </table>
            <!---x-dong vat--x-->
            <!--Sport-->
            <div id="item-2" class="TenTieuDe">

                <b>Sport</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Athlete.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Athlete (noun): Vận động viên</b>
                            <p><i>/ˈæˌθlit/</i></p>
                            <p>Ví dụ: Nguyen Thi Anh Vien is one of the most remarkable athletes of Vietnam in 2017. (Nguyễn Thị Ánh Viên là một trong những vận động viên nổi bật nhất Việt Nam năm 2017)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Badminton.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Badminton (noun): Môn cầu lông</b>
                            <p><i>/ˈbædˌmɪntən/</i></p>
                            <p>Ví dụ: Badminton is a popular sport in Vietnam. (Cầu lông là một môn thể thao phổ biến ở Việt Nam)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Baseball.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Baseball (noun): Bóng chày</b>
                            <p><i>/beɪs bɔl/</i></p>
                            <p>Ví dụ: We went to the park to play baseball. (Chúng tôi tới công viên để chơi bóng chày)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Basketball.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Basketball</b>
                            <p><i>/ˈbæskətˌbɔl/</i></p>
                            <p>Ví dụ: People said that playing basketball will make you taller. (Mọi người nói rằng chơi bóng rổ sẽ làm bạn cao hơn)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Beat.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Beat (verb): Đánh bại</b>
                            <p><i>/bit/</i></p>
                            <p>
                                Ví dụ: We beat our opponent with the score 3 – 2. (Chúng tôi đánh bại đối thủ với tỉ số 3 – 2)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Champion.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Champion (noun): Nhà vô địch</b>
                            <p><i>/ˈʧæmpiən/</i></p>
                            <p>Ví dụ: France is the World Cup 2018 Champion. (Pháp là nước vô địch World Cup 2018)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Coach.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Coach (noun): Huấn luyện viên</b>
                            <p><i>/koʊʧ/</i></p>
                            <p>Ví dụ: Park Hang Seo is the beloved coach of Vietnam National football team. (Park Hang Seo là huấn luyện viên được yêu mến của đội tuyển bóng đá quốc gia Việt Nam)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Competition.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Competition (noun): Cuộc thi</b>
                            <p><i>/ˌkɑmpəˈtɪʃən/</i></p>
                            <p>
                                Ví dụ: Every competition has its winner and loser. (Cuộc thi nào cũng có người thắng và kẻ thua)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Football.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Football/Soccer (noun): Môn bóng đá</b>
                            <p><i>/ˈfʊtˌbɔl/ – /ˈsɑkər/</i></p>
                            <p>Ví dụ: Football is the most famous and favorite sport in many countries including Vietnam. (Bóng đá là môn thể thao nổi tiếng và được yêu thích nhất ở nhiều nước, trong đó có Việt Nam)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Jogging.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Jogging (noun): Chạy bộ</b>
                            <p><i>/ˈʤɑgɪŋ/</i></p>
                            <p>Ví dụ: He usually goes jogging in the afternoon after work. (Anh ấy thường đi chạy bộ vào buổi chiều sau giờ làm)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--Sport---x--->
            <!--Animal-->
            <div id="item-3" class="TenTieuDe">

                <b>Animals</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Bear.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Bear (noun): Con gấu</b>
                            <p><i>/bɛr/</i></p>
                            <p>Ví dụ: Beware of the bear when camping in the forest. (Hãy cẩn thận với loài gấu khi cắm trại trong rừng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Bird.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Bird (noun): Con chim</b>
                            <p><i>/bɜrd/</i></p>
                            <p>Ví dụ: Some bird started to fly to the south as winter is coming. (Một số loài chim bắt đầu bay về phương Nam khi mùa đông sắp tới)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Cat.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Cat (noun): Con mèo</b>
                            <p><i>/kæt/</i></p>
                            <p>Ví dụ: The neighbor’s cat is a beautiful one with black fur. (Con mèo nhà hàng xóm là một con mèo xinh đẹp với bộ lông màu đen)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Chicken.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Chicken (noun): Con gà</b>
                            <p><i>/ˈʧɪkən/</i></p>
                            <p>Ví dụ: My family’s farm has over 200 chickens. (Nông trại nhà tôi có hơn 200 con gà)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Cow.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Cow (noun): Con bò</b>
                            <p><i>/kaʊ/</i></p>
                            <p>Ví dụ: Kobe cows in Japan receive surprisingly good treatment: listening to classical music, showering in beer, etc. (Những chú bò Kobe ở Nhật Bản nhận được sự chăm sóc tốt đáng ngạc nhiên: nghe nhạc cổ điển, tắm bằng bia,…)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Dog.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Dog (noun): Con chó</b>
                            <p><i>/dɔg/</i></p>
                            <p>Ví dụ: I have a pet dog named Leo. (Tôi có một chú cún cưng tên là Leo)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Donkey.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Donkey (noun): Con lừa</b>
                            <p><i>/ˈdɑŋki/</i></p>
                            <p>Ví dụ: The donkeys were carrying heavy packs. (Những con lừa này đang mang vác nhiều bao tải nặng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Elephant.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Elephant (noun): Con voi</b>
                            <p><i>/ˈɛləfənt/</i></p>
                            <p>Ví dụ: City kids only see elephants on TV or at the zoo. (Trẻ em thành phố chỉ nhìn thấy voi trên TV hoặc tại vườn thú)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Fish.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Fish (noun): Con cá</b>
                            <p><i>/fɪʃ/</i></p>
                            <p>
                                Ví dụ: There are plenty of fish in the sea. (Ngoài đại dương có rất nhiều cá)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Goat.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Goat (noun): Con dê</b>
                            <p><i>/goʊt/</i></p>
                            <p>Ví dụ: Goat is one of the animals that live in high mountains. (Dê là một trong những loài động vật sống trên những ngọn núi cao)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--Animal---x--->
            <!------job----->
            <div id="item-4" class="TenTieuDe">

                <b>Jobs</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Actor.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Actor/Actress (noun): Diễn viên nam/nữ</b>
                            <p><i>/ˈæktər/ – /ˈæktrəs/</i></p>
                            <p>Ví dụ: Brad Pitt is a world famous actor. (Brad Pitt là một nam diễn viên nổi tiếng toàn cầu)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Architect.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Architect (noun): Kiến trúc sư</b>
                            <p><i>/ˈɑrkəˌtɛkt/</i></p>
                            <p>Ví dụ: Who is the architect of the Eiffel Tower? (Ai là kiến trúc sư của tháp Eiffel?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Baker.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Baker (noun): Thợ làm bánh</b>
                            <p><i>/ˈbeɪkər/</i></p>
                            <p>Ví dụ: My mom is the town’s favorite baker. (Mẹ tôi là thợ làm bánh được yêu mến của thị trấn)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Businessman.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Businessman (noun): Doanh nhân</b>
                            <p><i>/ˈbɪznəˌsmæn/</i></p>
                            <p>Ví dụ: There is something so powerful in successful businessmen. (Có gì đó thật quyền lực ở các doanh nhân thành đạt)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Chef.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Chef (noun): Bếp trưởng</b>
                            <p><i>/ʃɛf/</i></p>
                            <p>Ví dụ: Can I talk to the chef please? (Tôi có thể nói chuyện với bếp trưởng được không?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Cleaner.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Cleaner/Janitor (noun): Lao công, dọn dẹp</b>
                            <p><i>/ˈklinər/ – /ˈʤænətər/</i></p>
                            <p>Ví dụ: The school’s janitor usually stays until 7pm to finish her work. (Cô lao công của trường học thường ở lại đến 7 giờ tối để hoàn thành công việc)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Dentist.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Dentist (noun): Nha sĩ</b>
                            <p><i>/ˈdɛntəst/</i></p>
                            <p>Ví dụ: I hate going to the dentist. (Tớ ghét đến gặp nha sĩ lắm)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Designer.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Designer (noun): Nhà thiết kế</b>
                            <p><i>/dɪˈzaɪnər/</i></p>
                            <p>Ví dụ: This dress is made by a famous designer. (Cái váy này được làm ra bởi một nhà thiết kế danh tiếng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Engineer.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Engineer (noun): Kỹ sư</b>
                            <p><i>/ˈɛnʤəˈnɪr/</i></p>
                            <p>Ví dụ: We need to hire 2 more engineers for our company. (Chúng ta cần thuê thêm 2 kỹ sư cho công ty)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Farmer.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Farmer (noun): Người nông dân</b>
                            <p><i>/ˈfɑrmər/</i></p>
                            <p>Ví dụ: The farmers started to harvest the crops. (Những người nông dân bắt đầu thu hoạch cây trồng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!---x---job--x--->
            <!--5-->
            <div id="item-5" class="TenTieuDe">

                <b>Relationships</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Acquaintance.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Acquaintance (noun): Người quen</b>
                            <p><i>/əˈkweɪntəns/ </i></p>
                            <p>Ví dụ: He is not a close friend of mine. He is only an accquainance. (Anh ấy không phải bạn thân của tôi. Anh ấy chỉ là một người quen)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Argue.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Argue (verb): Tranh cãi, tranh luận</b>
                            <p><i>/ˈɑrgju/</i></p>
                            <p>Ví dụ: As a couple, they argue too much. (Với tư cách một cặp đôi, họ tranh cãi quá nhiều)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Boss.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Boss (noun): Sếp, cấp trên</b>
                            <p><i>/bɑs/ </i></p>
                            <p>Ví dụ: I have to prepare a report for my boss on the next meeting. (Tôi phải chuẩn bị cho sếp một bản báo cáo vào buổi họp tới)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Boyfriend.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Boyfriend/Girlfriend (noun): Bạn trai/Bạn gái</b>
                            <p><i>/ˈbɔɪˌfrɛnd/ – /ˈgɜrlˌfrɛnd/ </i></p>
                            <p>
                                Ví dụ: He asked her to be his girlfriend and she said yes. (Anh ấy tỏ tình và cô ấy đồng ý)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Breakup.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Break up (phrasal verb): Chia tay</b>
                            <p><i>/breɪk ʌp/</i></p>
                            <p>
                                Ví dụ: They break up because of too much arguing. (Họ chia tay vì cãi nhau quá nhiều)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Colleague.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Colleague/Coworker (noun): Đồng nghiệp</b>
                            <p><i>/ˈkɑlig/ – /ˈkoʊˈwɜrkər/</i></p>
                            <p>Ví dụ: My colleague will be absent for 2 days and I have to cover his tasks. (Đồng nghiệp của tôi sẽ nghỉ 2 ngày và tôi phải làm hộ phần nhiệm vụ của anh ấy)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Conflict.png" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Conflict (noun) – (verb): Bất đồng, xung đột</b>
                            <p><i>/ˈkɑnflɪkt/ </i></p>
                            <p>Ví dụ: There are many ways to solve a conflict. (Có rất nhiều cách để giải quyết một xung đột)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Couple.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Couple (noun): Cặp đôi</b>
                            <p><i>/ˈkʌpəl/ </i></p>
                            <p>
                                Ví dụ: A surprising fact is that many couples break up on Valentine’s Day. (Một sự thật đáng ngạc nhiên là có rất nhiều cặp đôi chia tay vào lễ Tình nhân)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Customer.png" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Customer (noun): Khách hàng</b>
                            <p><i>/ˈkʌstəmər/</i></p>
                            <p>Ví dụ: Customers are always right. (Khách hàng luôn đúng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Date.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Date (noun) – (verb): Cuộc hẹn hò, Hẹn hò</b>
                            <p><i>/deɪt/</i></p>
                            <p>Ví dụ: This is their first date so they are both very nervous. (Đây là cuộc hẹn đầu tiên của họ nên cả hai đều rất lo lắng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--5---x--->
            <!--6-->
            <div id="item-6" class="TenTieuDe">

                <b>Foods & Drinks</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Bake.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Bake (verb): Nướng bánh</b>
                            <p><i>/beɪk/</i></p>
                            <p>Ví dụ: I am going to bake an apple pie. Do you want a slice later? (Tớ chuẩn bị nướng bánh táo. Chốc nữa cậu có muốn ăn một miếng không?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Beef.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Beef (noun): Thịt bò</b>
                            <p><i>/bif/</i></p>
                            <p>Ví dụ: This beef looks fresh. We should buy it for dinner. (Thịt bò này trông tươi đấy. Chúng ta nên mua về cho bữa tối)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Beer.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Beer (noun): Bia</b>
                            <p><i>/bɪr/</i></p>
                            <p>Ví dụ: Buy some beer. We are going to watch a football match this evening. (Mua ít bia đi nhé. Chúng ta sẽ cùng xem bóng đá tối nay)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Bitter.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Bitter (adjective): Đắng</b>
                            <p><i>/ˈbɪtər/</i></p>
                            <p>Ví dụ: This chocolate is too bitter, I don’t like it. (Loại socola này đắng quá, tớ không thích nó)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Boil.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Boil (verb): Luộc, đun sôi</b>
                            <p><i>/bɔɪl/</i></p>
                            <p>Ví dụ: I have just boiled some eggs. Do you want one? (Tớ vừa luộc vài quả trứng. Cậu muốn ăn một quả không?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Bread.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Bread (noun): Bánh mì</b>
                            <p><i>/brɛd/</i></p>
                            <p>
                                Ví dụ: Banana bread is a favorite sweet of many people. (Bánh mì chuối là món ngọt yêu thích của rất nhiều người)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Chicken.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Chicken (noun): Thịt gà</b>
                            <p><i>/ˈʧɪkən/</i></p>
                            <p>Ví dụ: What should we do with the chicken? Fry or grill? (Chúng ta nên làm gì với món thịt gà? Rán hay nướng?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Coffee.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Coffee (noun): Cà phê</b>
                            <p><i>/ˈkɑfi/</i></p>
                            <p>Ví dụ: A cup of coffee every morning keeps me conscious. (Một cốc cà phê mỗi sáng giữ tôi tỉnh táo)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Delicious.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Delicious (adjective): Ngon lành</b>
                            <p><i>/dɪˈlɪʃəs/</i></p>
                            <p>Ví dụ: Vietnamese food is delicious. (Đồ ăn Việt Nam rất ngon)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Drink.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Drink (verb): Uống</b>
                            <p><i>/drɪŋk/</i></p>
                            <p>Ví dụ: What would you like to drink? (Bạn muốn uống gì?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--6---x--->
            <!--7-->
            <div id="item-7" class="TenTieuDe">

                <b>Colors</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Black.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Black (noun): Màu đen</b>
                            <p><i>/blæk/</i></p>
                            <p>
                                Ví dụ: I would like a black coffee, please! (Tôi muốn dùng một ly café đen, làm ơn!)
                            </p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Blue.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Blue (noun): Màu xanh dương</b>
                            <p><i>/blu/</i></p>
                            <p>Ví dụ: The sky is so blue today. (Bầu trời hôm nay thật trong xanh)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Brown.png" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Brown (noun): Màu nâu</b>
                            <p><i>/braʊn/</i></p>
                            <p>Ví dụ: She has beautiful brown eyes. (Cô ấy có đôi mắt màu nâu tuyệt đẹp)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Color.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Color (noun): Màu sắc</b>
                            <p><i>/ˈkʌlər/</i></p>
                            <p>Ví dụ: We are going to choose paint color for our bedroom. (Chúng tôi chuẩn bị chọn màu sơn cho phòng ngủ)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Colorful.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Colorful (adjective): Rực rỡ, nhiều màu sắc</b>
                            <p><i>/ˈkʌlərfəl/</i></p>
                            <p>Ví dụ: The kid’s painting is very colorful. (Bức vẽ của đứa trẻ rất nhiều màu sắc)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Dark.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Dark (adjective): Tối (màu)</b>
                            <p><i>/dɑrk/</i></p>
                            <p>Ví dụ:He likes to wear dark color clothes so as to look skinnier. (Anh ấy thích mặc quần áo tối màu để trông gầy hơn)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Green.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Green (noun): Màu xanh lá</b>
                            <p><i>/grin/</i></p>
                            <p>Ví dụ: Leo buys a new plant too add some green into his room. (Leo mua một cây cảnh mới để thêm chút sắc xanh vào phòng mình)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Grey.png" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Grey (noun): Màu xám</b>
                            <p><i>/greɪ/</i></p>
                            <p>Ví dụ: Grey is a neutral color. (Màu xám là một màu trung tính)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Light.png" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Light (adjective): Sáng (màu)</b>
                            <p><i>/laɪt/</i></p>
                            <p>Ví dụ: The room is decorated with ligh colors such as white and pink. (Căn phòng được trang trí bằng các màu sáng như trắng và hồng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Orange.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Orange (noun): Màu cam</b>
                            <p><i>ˈ/ɔrənʤ/</i></p>
                            <p>Ví dụ: He likes orange as it is a vibrant color and shows his cheerful personality. (Anh ấy thích màu cam vì đó là một màu sắc rực rỡ và thể hiện tính cách vui vẻ của mình)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--7---x--->
            <!--8-->
            <div id="item-8" class="TenTieuDe">

                <b>Arts</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Applaud.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Applaud (verb): Vỗ tay, tán thưởng</b>
                            <p><i>/əˈplɔd/</i></p>
                            <p>Ví dụ: He applauds excitedly at the end of the play. (Anh ấy vỗ tay đầy hào hứng khi vở kịch kết thúc)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Art.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Art (noun): Nghệ thuật</b>
                            <p><i>/ɑrt/</i></p>
                            <p>Ví dụ: The art of convincing is actually not very complex. (Nghệ thuật thuyết phục người khác thực chất không quá phức tạp)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Artist.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Artist (noun): Nghệ sĩ</b>
                            <p><i>/ˈɑrtɪst/</i></p>
                            <p>Ví dụ: Artists are those with extremely high level of creativity. (Nghệ sĩ là những người có mức độ sáng tạo cực kì cao)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Artwork.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Artwork (noun): Tác phẩm nghệ thuật</b>
                            <p><i>/ˈɑrˌtwɜrk/</i></p>
                            <p>Ví dụ: Twelve of his artworks have been delivered to Paris for an exhibition. (12 tác phẩm của anh ấy đã được chuyển tới Paris phục vụ cho một triển lãm)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Audience.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Audience (noun): Khán giả</b>
                            <p><i>/ˈɔdiəns/</i></p>
                            <p>Ví dụ: The audience has arrived early and filled the concert hall. (Khán giả đã đến sớm và lấp đầy khán phòng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Author.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Author (noun): Tác giả</b>
                            <p><i>/ˈɔθər/</i></p>
                            <p>Ví dụ: Do you remember who is the author of ‘War and Peace’? (Cậu có nhớ ai là tác giả tiểu thuyết ‘Chiến tranh và Hòa bình’ không?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Band.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Band (noun): Ban nhạc</b>
                            <p><i>/bænd/</i></p>
                            <p>Ví dụ: What is the name of your favorite band? (Tên ban nhạc yêu thích của cậu là gì?)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Brush.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Brush (noun): Cọ vẽ</b>
                            <p><i>/brʌʃ/</i></p>
                            <p>Ví dụ: I need to buy some new brushes since the old ones are in bad condition. (Tớ cần mua thêm vài cây cọ vẽ mới vì những cái cũ đang trong tình trạng rất tệ)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Camera.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Camera (noun): Máy ảnh</b>
                            <p><i>/ˈkæmrə/</i></p>
                            <p>Ví dụ: Smile for the camera! (Cười lên trước máy ảnh nào!)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Canvas.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Canvas (noun): Vải bạt (để vẽ tranh sơn dầu)</b>
                            <p><i>/ˈkænvəs/</i></p>
                            <p>Ví dụ: This is a blank canvas, you can draw anything you want here. (Đây là một mảnh vải bạt trắng, cậu có thể vẽ bất cứ thứ gì cậu muốn)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--8---x--->
            <!--9-->
            <div id="item-9" class="TenTieuDe">

                <b>Appearance</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Attractive.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Attractive (adjective) Quyến rũ, hấp dẫn</b>
                            <p><i>/əˈtræktɪv/</i></p>
                            <p>Ví dụ: Sarah is such an attractive woman. Many guys want to go out on a date with her. (Sarah đúng là một người phụ nữ quyến rũ. Rất nhiều chàng trai muốn được hẹn hò với cô ấy)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Beautiful.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Beautiful (adjective): Đẹp, xinh đẹp</b>
                            <p><i>/ˈbjutəfəl/</i></p>
                            <p>Ví dụ: A beautiful girl usually make good first impression with other people. (Một cô gái xinh đẹp thường tạo ấn tượng đầu tốt với những người khác).</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Bodyshape.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Body shape (noun): Thân hình, vóc dáng cơ thể</b>
                            <p><i>/ˈbɑdi ʃeɪp/</i></p>
                            <p>Ví dụ: I want to have a better body shape so I start exercising at the gym. (Tôi muốn có một thân hình đẹp hơn nên tôi bắt đầu tập luyện tại phòng gym)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Charming.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Charming (adjective): Thu hút, quyến rũ</b>
                            <p><i>/ˈʧɑrmɪŋ/</i></p>
                            <p>Ví dụ: Many little girls believe in fairy tales and that some day prince charming will come for them. (Rất nhiều bé gái tin vào truyện cổ tích và tin rằng một ngày nào đó, hoàng tử bạch mã sẽ đến tìm chúng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Cute.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Cute (adjective): Dễ thương, đáng yêu</b>
                            <p><i>/Kjut/  </i></p>
                            <p>Ví dụ: What a cute baby! (Đúng là một em bé đáng yêu!)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Fat.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Fat (adjective): Béo, thừa cân</b>
                            <p><i>/fæt/</i></p>
                            <p>Ví dụ: Modern lifestyles with fast food trend make more people become fat. (Lối sống hiện đại cùng trào lưu đồ ăn nhanh làm nhiều người trở nên thừa cân hơn)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Feature.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Feature (noun): Đặc điểm</b>
                            <p><i>/ˈfiʧər/</i></p>
                            <p>Ví dụ: Bright smile is one of her best features. (Nụ cười tươi tắn là một trong những đặc điểm đẹp nhất của cô ấy)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Fit.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Fit (adjective): Cân đối, gọn gàng</b>
                            <p><i>/fɪt/</i></p>
                            <p>Ví dụ: She follows a special diet to stay fit. (Cô ấy tuân theo một chế độ ăn đặc biệt để giữ cho cơ thể cân đối)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Good-looking.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Good-looking (adjective): Sáng sủa, ưa nhìn</b>
                            <p><i>/gʊd-ˈlʊkɪŋ/</i></p>
                            <p>Ví dụ: Not only is he a good-looking guy but he is also very talented. (Không những là một anh chàng ưa nhìn mà anh ấy còn rất tài năng)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Handsome.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Handsome (adjective): Đẹp trai</b>
                            <p><i>/ˈhænsəm/</i></p>
                            <p>Ví dụ: Women in different countries have different ideas on what is considered a handsome man. (Phụ nữ ở các nước khác nhau có những ý kiến khác nhau về việc như thế nào thì được coi là một người đàn ông đẹp trai)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--9---x--->
            <!--10-->
            <div id="item-10" class="TenTieuDe">

                <b>Language</b>

            </div>
            <table class="tb-mk1">
                <tfoot>
                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Adjective.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Adjective (noun): Tính từ</b>
                            <p><i>/ˈæʤɪktɪv/</i></p>
                            <p>Ví dụ: Adjectives help you better describe things. (Tính từ giúp bạn miêu tả sự vật tốt hơn)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Advanced.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Advanced (adjective): Nâng cao</b>
                            <p><i>/ədˈvænst/</i></p>
                            <p>Ví dụ: I have just finished the Advanced level of Business English course. (Tôi vừa hoàn thành trình độ nâng cao của khóa học tiếng anh trong kinh doanh)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Adverb.png" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Adverb (noun): Trạng từ</b>
                            <p><i>/ˈædvərb/</i></p>
                            <p>Ví dụ: An adverb is a word which modifies a verb and sometime an adjective. (Trạng từ là một từ bổ nghĩa cho động từ hoặc đôi lúc là tính từ)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Beginner.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Beginner (noun): Người mới bắt đầu</b>
                            <p><i>/bɪˈgɪnər/</i></p>
                            <p>Ví dụ: To English I am just a beginner. (Với tiếng Anh tôi chỉ là một người mới bắt đầu)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Conversation.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Conversation (noun): Cuộc trò chuyện</b>
                            <p><i>/ˌkɑnvərˈseɪʃən/</i></p>
                            <p>Ví dụ: Practicing conversation in English will help you improve your speaking skills. (Luyện tập các cuộc trò chuyện bằng Tiếng Anh sẽ giúp cải thiện kĩ năng nói của bạn)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Dialogue.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Dialogue (noun): Cuộc hội thoại  </b>
                            <p><i>/ˈdaɪəˌlɔg/</i></p>
                            <p>Ví dụ: The book consisted of a series of dialogue. (Cuốn sách bao gồm một loạt các cuộc hội thoại)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Dictionary.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Dictionary (noun): Từ điển</b>
                            <p><i>/ˈdɪkʃəˌnɛri/</i></p>
                            <p>Ví dụ: To start learning a new language, first you need a good dictionary. (Để học một ngôn ngữ mới, đầu tiên bạn cần một quyển từ điển tốt)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Fluent.png" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Fluent (adjective): Trôi chảy</b>
                            <p><i>/ˈfluənt/</i></p>
                            <p>Ví dụ: I consider myself fairly fluent in French. (Tôi cho rằng mình nói khá trôi chảy tiếng Pháp)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Grammar.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Grammar (noun): Ngữ pháp</b>
                            <p><i>/ˈgræmər/</i></p>
                            <p>Ví dụ: There are many grammar mistakes in your writing. (Có rất nhiều lỗi ngữ pháp trong bài viết của cậu)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>

                    <tr>
                        <td class="td-mk1">
                            <img class="align-items-lg-center" src="/images/TuVung/Intermediate.jpg" width="150" height="150">
                        </td>
                        <td class="td-mk2">
                            <p>
                                <b>Intermediate (adjective): Trung bình</b>
                            <p><i>/ˌɪntərˈmidiɪt/</i></p>
                            <p>Ví dụ: Intermediate level is the bridge between beginner and advanced. (Trình độ bậc trung là cầu nối giữa trình độ người mới bắt đầu và trình độ nâng cao)</p>
                            </p>
                            <img src="/images/loa.png" width="35" height="35">
                        </td>
                    </tr>
                </tfoot>
            </table>
            <!----x--10---x--->
        </div>
    </div>
</div>

